<div class="container">
    <div class="row">
        <div class="col-md-12 bg-success text-center">
            <h1><%= link_to 'Sign Up', signup_path %></h1>
            <h1><%= link_to 'Log In', login_path %></h1>
        </div>
    </div>
</div>